*.bin
.place_holder
default.yaml
installation.yaml
luna_pinyin.userdb.kct
luna_pinyin.userdb/
pinyin_simp.userdb/
cangjie5.userdb/
wubi86.userdb/
symbols.yaml
user.yaml
weasel.yaml
sync
kaomoji.userdb/
luna_pinyin.userdb.old/
build/
trash/
*.schema.yaml